body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$bg: black;
$bottom: 2rem;

@mixin wrapper() {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 5%;
  margin-right: 5%;
}

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin activeLink() {
  color:rgb(0, 110, 255);
  cursor: default;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1 0 auto; 
  }
  footer {
    background-color: $bg;
    color: white;
    div {
      height: 10vh;
      @include flex();
    }
  }
}



.nav {
  width: 100%;
  height: 10vh;
  background-color: $bg;
  color: white;
  margin-bottom: $bottom;
  @include flex();
    a {
      padding-left: 5vh;
      padding-right: 5vh;
      text-decoration: none;
      &:visited {
        color:white;
      }
      &.activeLink, &.activeLink:visited {
        @include activeLink();
      }
      &:hover {
        color: darken(white, 15%);
      }
    } 
}


.wrapper {
  @include wrapper();
  margin-bottom: $bottom;
}

.postTitle {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.text {
  text-align: center;
  margin-top: -15px;
}

.buttonLeft {
  background-color: white;
  padding: 0;
  border: none;
  filter: opacity(0.7);
  cursor: pointer;
  img {
    width: 30px;
    height: 20px;
  }
}

.login {
  @include flex();
  flex-direction: column;
  form {
    display: flex;
    gap: 0.5rem;
  }
}

.addPost {
  margin-bottom: $bottom;
  a {
    text-decoration: none;
    color: black;
  }
}

.search {
  display: flex;
  gap: 0.5rem;
  margin-bottom: $bottom;
}

.addPost {
  @include flex();
  flex-direction: column;
  form {
    @include flex();
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: $bottom;
    .addTitle {
      width: 30vw;
      height: 5vh;
      padding: 0.5rem;
    }
    textarea {
      width: 30vw;
      height: 30vh;
      padding: 0.5rem;
      resize: vertical;
    }
  }
}

.text-center {
  text-align: center;
  margin-top: 0;
}

.editPost {
  @include wrapper();
  a {
    text-decoration: none;
    color: black;
  }
}


